*{
    margin: 0 auto;
    padding: 0;
}
nav{
    background-color: rgb(7, 122, 122);
}
.nav-container{
    width: 80%;
    display: flex;
}
.menu{
    padding: 17px 0;
}
.menu a{
    color: aquamarine;
    display: inline-block;
    padding: 0 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    text-decoration: none;
}
.menu a:hover{
    background-color:white ;
    color:#7ac0da ;
}
#top{
   /* background-color: chocolate;*/
    height: 450px;
    display: flex;
    padding: 20px 0;
}
.top_box{
    width: 23%;
    background-color: white;
    height: 450px;
    position: relative;
}
.top_box img{
    width: 100%;
    height: 450px;
}
.top_box .caption{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: black;
    width: 100%;
    padding: 20px 10px;
    box-sizing: border-box;
    opacity: 0.6;
}
.tag{
    background-color: blueviolet;
    color: antiquewhite;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
.caption h2 a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: aliceblue;
    padding: 15px 0;
    display: inline-block;
}
.date{
    color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
#newsletter{
    background-color: burlywood;
    background-image: url(img8.jfif);
    padding: 40px 0;
}
.container{
    width: 80%;
    display: flex;
}
.info{
    width: 40%;
}
.info h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: antiquewhite;
}
.info span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    font-style: italic;
}
#newsletter form{
    width: 50%;
}
.in{
    border-color: transparent;
    width: 300px;
    height: 52px;
    padding: 0 34px;
    padding-left: 40px;
    border: none;
    font-weight: 700;
    font-size: 18px;
}
.btn{
    background-color: darkolivegreen;
    border-color: transparent;
    color: antiquewhite;
    font-weight: 700;
    cursor: pointer;
    height: 55px;
    width: 100px;
}
footer{
    background-color:rgb(7, 122, 122) ;
    padding: 40px 0;
}
.footer_box{
    width: 20%;
}
.footer_box img{
    width: 80%;
}
.footer_box h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    color: aquamarine;
    border-bottom: 2px solid blue;
    display: inline-block;
    padding-bottom: 5px;
}
.footer_menu{
    padding-top: 10px ;
}
.footer_menu a{
    color: aquamarine;
    text-decoration: none;
    display: block;
    padding: 5px 0;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.footer_menu a:hover{
    color: rgb(55, 9, 99);
}





/*Contact ko*/
#contact{
    padding: 50px 0;
}
#contact .in,#contact textarea{
    border: 1px solid white;
    width: 100%;
    display: block;
}
#contact h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    color: blue;
    border-bottom: 2px solid blue;
    display: inline-block;
    padding-bottom: 5px;
}
#contact p{
    padding: 5px 0;
}
#contact label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: blue;
    padding-bottom: 5px;
}
#about{
    padding: 50px;
}
.acontainer{
    width: 60%;
}
#about h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    color: aqua;
    border-bottom: 2px solid aquamarine;
    display: inline-block;
    padding-bottom: 5px;
}
#about iframe{
    display: block;
    width: 100%;
    height: 400px;
    padding: 20px 0;
}
#about p,p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    line-height: 22px;
    color: red;
}
